#title {
    position: relative;
    color: white;
    text-align: center;
    background-color: var(--dark);
    font-weight: normal;
    margin: 0;
    padding: 15px 0;
}

#title:after {
    position: absolute;
    padding: 15px 0;
    background-color: var(--dark);
    
    top: 0;
    left: 0;
    width: 100%;
    content: 'hover to see shareable room name'
}

#title:hover:after {
    visibility: hidden;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 90%;
}

#container #left {
    border: 5px solid white;
}

#gameWindow {
    position: relative;
    text-align: center;
}

#scoreRatio {
    display: flex;
    height: 10px;
    background-color: white;
    border: 2px solid white;
}

#scoreRatio span {
    transition: all 2s;
}

#lobby {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: top 2s;
}

#lobby > div {
    display: flex;
    justify-content: space-around;
    
}

#lobby th {
    padding: 0 10px;
}

#lobby > button {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
}

#lobby table input {
    padding: 0;
    border-style: none;
    background: none;
}

#lobby .picker {
    cursor: pointer;
    border-radius: 5px;
    width: 2em;
    height: 1em;
    margin: auto;
}

#startButton:disabled {
    filter: grayscale(100%);
    background-color: var(--neutral-dark);
    border: 5px solid var(--neutral-dark);
}

#startButton:disabled:hover {
    cursor: default;
}

#gameChat {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    min-width: 300px;
    max-width: 30vw;
    height: 770px;
}

#sendBar {
    display: flex;
    text-align: center;
    padding: 5px 10px;
    background-color: var(--neutral);
}

#sendBar input {
    font-family: 'Rubik';
    border-radius: 10px;
    flex-grow: 1;
}

#sendBar img {
    margin: 0 0.5em;
    width: 2em;
    filter: invert(1);
    opacity: 0.8;
}

#sendBar img:hover {
    cursor: pointer;
    opacity: 1;
}

#chatMessages {
    overflow-y: scroll;
    min-height: 200px;
    flex-grow: 1;
}

.chatMessage {
    background-color: var(--neutral);
    margin: 10px 50px 10px 10px;
    margin-right: 50px;
    padding: 5px 10px;
    border-radius: 15px 15px 15px 0;
    word-wrap: break-word;
}

.chatMessage.you {
    background-color: var(--neutral-dark);
    border-radius: 15px 15px 0;
    margin: 10px 10px 10px 50px;
}

#playerBox {
    padding: 20px;
}

#playerBox span,
#playerBox p {
    display: inline-block;
    margin: 0;
}

#playerBox span {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}

.player.watching {
    opacity: 0.5;
}

.player.current {
    font-weight: bold;
}

.player.current .playerName::after {
    content: '★';
    line-height: 1.2em;
    display: inline-block;
    margin-left: 1em;
    font-weight: bold;
}

.player .playerScore {
    float: right;
}

#buymeacoffee {
    visibility: hidden;
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

#popup {
    background-color: white;
    padding: 20px;
    position: absolute;
    top: -200vh;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s;
    z-index: 1;
    visibility: hidden;
}

#popup.show {
    top: 50%;
    visibility: visible;
}

.confetti {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.bmc-btn {
    height: 40px !important;
    font-size: 1.4em !important;
    margin-left: 0.5em !important;
}

.bmc-btn-text {
    margin-left: 0 !important; 
}

.kick {
    color: var(--attention);
    font-size: 0.7em;
}

.kick:hover {
    cursor: pointer;
    text-decoration: underline;
}

.npc {
    font-size: 0.7em;
    padding: 0.2em 0.6em;
    border: 2px solid var(--dark);
}