body {
    text-align: center;
}

#newGame,
#joinGame,
#howToPlay,
#about {
    background-color: white;
    padding: 20px;
    position: absolute;
    top: -200vh;
    left: 50%;
    transform: translate(-50%, 0);
    transition: top 0.5s;
    z-index: 1;
    visibility: hidden;
}

#newGame.show,
#joinGame.show,
#howToPlay.show,
#about.show {
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

#fade {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    background-color: rgb(0,0,0);
    transition: all 0.5s;
}

#fade.show {
    visibility: visible;
    opacity: 0.3;
}

.warning {
    font-size: 0.8em;
    color: var(--attention);
    margin: 0;
    height: 0.8em;
}

h2 {
    font-size: 1.2em;
}

#howToPlay {
    width: 40%;
    max-height: 80vh;
    overflow-y: scroll;
}

#howToPlay img {
    width: 100%;
}